.container {
  position: absolute;
  width: 100vw;
  height: calc(100vh - 120px);
}

.box {
	width: 200px;
  padding: 10px 0px;
  text-align: center;
}

body {
  margin: 0;
}

.header {
  height: 120px;
  background-color: dodgerblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header > h1 {
  color: #FFF;
}

.header > .operation {
  font-size: 14px;
  color: #FFF;
  margin-left: 60px;
  display: flex;
  align-items: center;
}

.oper-item {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.oper-item > label {
  margin-right: 8px;
}
